* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    height: 70px;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
}